<div class="slider">
  <slideshow [height]="height" [autoPlay]="autoPlayToggle" [showArrows]="true" [imageUrls]="imageSources"
    [lazyLoad]="imageSources?.length > 1" [autoPlayWaitForLazyLoad]="true">
  </slideshow>
</div>
<div class="play-btn-div">
  <label>Click the below Button to Pause or Play Slideshow</label>
</div>
<div class="play-btn-div">
  <label class="play-btn" *ngIf="!autoPlayToggle" (click)="togglePlay()"><i class="material-icons">play_circle_filled</i></label>
  <label class="play-btn" *ngIf="autoPlayToggle" (click)="togglePlay()"><i class="material-icons">pause_circle_filled</i></label>
</div>
<div class="play-btn-div">
  <b>NOTE: Above images used are low quality images for demo purpose only</b>
</div>